// logo
.logo {
  max-width: 18.2rem;
  height: 5.1rem;
  &__img {
    width: 100%;
    height: 100%;
  }
}

// button
.btn {
  align-self: end;
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: transparent;
  border: none;

  &__arrow {
    display: block;
    max-width: 10rem;
    height: 10rem;
    border: 0.1rem solid $color-white;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--black {
      border: 0.1rem solid $color-dark;
    }
  }

  &__title {
    color: $color-white;
    position: absolute;
    right: 2.2rem;
    bottom: 1.6rem;

    &--black {
      color: $color-dark;
    }
  }
}

// social-medias
.social-medias {
  align-self: end;
  padding-bottom: 3.8rem;
  &__icon {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

// arrows
.arrows {
  align-self: end;
  display: flex;
  gap: 2.2rem;
}

// middle banner
.middle-banner {
  grid-column: left-edge-start / right-edge-end;

  @media only screen and (max-width: $bp-largest) {
    grid-column: col-start 1 / col-end 2;
  }
  background-image: linear-gradient(
      to right,
      rgba($color-dark, 0.5),
      rgba($color-dark, 0.5)
    ),
    url('/assets/mid-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  display: flex;
  justify-content: center;
  align-items: center;

  &--text {
    color: $color-white;
    width: 65rem;
    text-align: center;
    line-height: 1.6;
  }

  @media only screen and (max-width: $bp-largest) {
    grid-column: 1 / -1;
  }
}
