// Colors
$color-white: #fff;
$color-gray: #868585;
$color-dark: #303030;
$color-yellow-green: #a9a32a;

// Responsive Breakpoints
$bp-largest: 86.25em; //1380px
$bp-medium: 64.375em; //1100px
$bp-small: 53.9375em; //863px
$bp-smaller: 43.125em; //690px
